
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>SC2TV.RU chat</title>
    <link type="text/css" rel="stylesheet" media="all" href="css/chat.css"/>
</head>
<body>
    #foreach( $message in $channel.getMessages)
    <div class="row">
        <div class="col channel-id">[$message.getDate] $message.getName: $message.getMessage</div>
    </div>
    #end
</body>
</html>
